.back-design {
    background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 100vh;
    /* background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeWFiYmdydWp1cms5YnA0Y2U1NHNqZ2Iyb3dxZ213amUzMDRjZWszYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3og0IFrHkIglEOg8Ba/giphy.gif'); */
}